.custom-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  border: none;
  cursor: pointer;
}
.custom-color::-webkit-color-swatch {
  outline: 2px solid gray;
  border-radius: 4px;
  border: none;
}
.custom-color::-moz-color-swatch {
  outline: 2px solid gray;
  border-radius: 4px;
  border: none;
}

::-webkit-scrollbar.custom-scroll {
  width: 8px;
}
::-webkit-scrollbar-track.custom-scroll {
  background: transparent;
  @apply my-2;
}

::-webkit-scrollbar-thumb.custom-scroll {
  border-radius: 10px;
  @apply bg-gray-400
  /* background: rgb(185, 185, 185); */;
}
::-webkit-scrollbar-thumb.custom-scroll:hover {
  @apply bg-gray-500;
}
